
/* =================================
   MOBILE SEARCH FIX
================================= */

@media(max-width:720px){

.header-actions .search{

    display:flex !important;

    width:32px !important;
    height:32px !important;

    background:none !important;

    align-items:center !important;
    justify-content:center !important;

}


.header-actions .search::before{

    content:"" !important;

    width:14px !important;
    height:14px !important;

    border:2px solid #111 !important;

    border-radius:50% !important;

}


.header-actions .search::after{

    content:"" !important;

    width:8px !important;
    height:2px !important;

    background:#111 !important;

    transform:rotate(45deg) !important;

}

}

