
/* =================================
   MOBILE BURGER FIX
================================= */

@media(max-width:720px){

button.hamburger{

    display:flex !important;

    flex-direction:column !important;
    justify-content:center !important;
    align-items:center !important;

    width:32px !important;
    height:32px !important;

    background:none !important;
    border:0 !important;

}


button.hamburger span{

    display:block !important;

    width:18px !important;
    height:2px !important;

    margin:3px 0 !important;

    background:#111 !important;

    opacity:1 !important;
    visibility:visible !important;

}

}

